<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<h1>Follower list</h1>
		<table class="table">
			<tr>
				<th class="col-xs-2">image</th>
				<th class="col-xs-2">name</th>
				<th class="col-xs-6">introduction</th>
				<th class="col-xs-2"></th>
			</tr>
			<% @user.followers.each do |follower| %>
				<tr>
					<td class="col-xs-2">
						<%= attachment_image_tag follower, :profile_image,:fill, 40, 40, fallback: "no_image.jpg", size: "40x40" %>
					</td>
					<td class="col-xs-2">
						<%= follower.name %>
					</td>
					<td class="col-xs-6">
						<%= follower.introduction %>
					</td>
					<td class="col-xs-2">
						<%= link_to "show", user_path(follower) %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
  <div class="col-lg-2"></div>
</div>
